.banner__container {
	background: rgba(255, 255, 255, 0.9);
	/* position: absolute; */
	/* top: 10vh; */
	/* right: 3%; */
	/* width: 100%; */
	/* max-width: 400px; */
	text-align: center;
	/* margin-top: 55px; */
}

.banner__container h1,
.banner__container h3,
.banner__container p {
	color: black;
	font-size: 24px;
	padding-bottom: 1rem;
}

.banner__container h1 {
	padding-top: 3.5rem;
}

.button__rsvp {
	text-decoration-line: none;
	font-size: 24px;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid black;
	margin-bottom: 1.5rem;
}

.button__rsvp:hover {
	background-color: green;
	color: white;
}

@media only screen and (min-width: 768px) {
	.banner__container {
		position: absolute;
		top: 10vh;
		right: 3%;
		width: 35%;
		max-width: 40rem;
		margin-top: 5.5rem;
	}

}
