.bride__groom {
	height: 100vh;
	width: 100vw;

}

.grid__bridegroom {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15px;
	text-align: center;
}

.bride {

}

.groom {

}
