.bridesmaid > h1 {
	font-size: 32px;
	text-align: center;
	margin: 15px auto;
}

.wrapper__bridesmaid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 0 30px;
}

.wrapper__image {
    height: 160px;
    width: 160px;
    margin: 10px auto;
}

.photo__maid1,
.photo__maid2,
.photo__maid3,
.photo__groomsman1,
.photo__groomsman2,
.photo__groomsman3 {
	display: block;
	border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
}

.photo__maid1:hover {
	content: url('/images/misty.JPG');
}

.photo__maid2:hover {
	content: url('/images/cristina.jpg');
}

.photo__maid3:hover {
	content: url('/images/claire.jpg');
}

.photo__groomsman1:hover {
	content: url('/images/dave-aaron2.jpg');
}

.photo__groomsman2:hover {
	content: url('/images/dave-sean.jpg');
}

.photo__groomsman3:hover {
	content: url('/images/dave-boat.jpg');
}

.personal__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
	font-size: 24px;
}

.title {
	font-size: 18px;
	margin-top: 2.5px;
}

.bio {
	font-size: 14px;
	max-width: 80%;
	margin: 10px auto;
}

@media only screen and (min-width: 576px) {
	.wrapper__bridesmaid {
		padding: 0 30px;
        display: flex;
        flex-direction: row;
		align-items: center;
    }
}

@media only screen and (min-width: 768px) {
	.bridesmaid__grid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.wrapper__bridesmaid {
		flex-direction: column;
	}

	.bio {
		max-width: 90%;
	}
}

@media only screen and (min-width: 992px) {
    .wrapper__image {
        height: 220px;
		width: 220px;
    }

	.photo__maid1,
	.photo__maid2,
	.photo__maid3,
	.photo__groomsman1,
	.photo__groomsman2,
	.photo__groomsman3 {
		height: 200px;
		width: 200px;
	}
}
