.bridesmaid > h1 {
	font-size: 3.2rem;
	text-align: center;
	margin: 1.5rem auto;
}

.wrapper__bridesmaid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 0 3rem;
}

.wrapper__image {
    height: 18rem;
    width: 18rem;
	margin: 1rem auto;
	text-align: center;
	/* overflow: hidden; */
}

.photo__maid1,
.photo__maid2,
.photo__maid3,
.photo__groomsman1,
.photo__groomsman2,
.photo__groomsman3 {
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,1);
	width: 16rem;
	height: 16rem;
	display: inline-block;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.photo__maid1 {
	background-image: url('/images/erin-misty.JPG');
}

.photo__maid2 {
	background-image: url('/images/erin-cristina2-smaller.jpg');
}

.photo__maid3 {
	background-image: url('/images/erin-claire-small10.jpg');
}

.photo__groomsman1 {
	background-image: url('/images/dave-aaron-wedding.jpg');
}

.photo__groomsman2 {

}

.photo__groomsman3 {
	background-image: url('/images/dave-sean-small10.jpg');
}

.photo__maid1:hover {
	content: url('/images/misty-small.jpg');
}

.photo__maid2:hover {
	content: url('/images/cristina-small3.jpg');
}

.photo__maid3:hover {
	content: url('/images/claire-small2.jpg');
}

.photo__groomsman1:hover {
	content: url('/images/aaron-small2.jpg');
}

.photo__groomsman2:hover {
	/* content: url('/images/dave-sean.jpg'); */
}

.photo__groomsman3:hover {
	content: url('/images/sean-race2.jpg');
}

.personal__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
	font-size: 2.8rem;
}

.title {
	font-size: 2.2rem;
	margin-top: 2.5px;
}

.bio {
	font-size: 1.8rem;
	max-width: 80%;
	margin: 1rem auto;
}

.photo__bride {
	display: block;
	height: auto;
	width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 576px) {
	.wrapper__bridesmaid {
		padding: 0 3rem;
        display: flex;
        flex-direction: row;
		align-items: center;
    }
}

@media only screen and (min-width: 768px) {
	.bridesmaid__grid {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.wrapper__bridesmaid {
		flex-direction: column;
	}

	.bio {
		max-width: 90%;
	}
}

@media only screen and (min-width: 992px) {
    .wrapper__image {
        height: 22rem;
		width: 22rem;
    }

	.photo__maid1,
	.photo__maid2,
	.photo__maid3,
	.photo__groomsman1,
	.photo__groomsman2,
	.photo__groomsman3 {
		height: 20rem;
		width: 20rem;
	}
}
